@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hubballi&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Fredoka, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

/* heading & logo */

#heading {
    font-family: Fredoka, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
    font-size: 80px;
}

/* menu */

.menu {
    font-size: 140%;
    letter-spacing: 3px;
    line-height: 140px;
    
}

.menu li {
    
    list-style-type: none;
    color: black;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu, a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


  
  