@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hubballi&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Fredoka, sans-serif;
    font-weight: 500;
    color: 		#303030;
}

h2 {
    color: 		#303030
    font-family: Fredoka, sans-serif;
    font-size: 30px;
    text-align: center;
}


/* logo */

header {
    background-color: #ff8c00;
}


#heading {
    font-family: Fredoka, sans-serif;
    font-weight: 500;
    color: #303030;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

#sub-heading {
    font-family: Hubballi, sans-serif;
    font-weight: 500;
    color: 	#303030
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

header, a {
    text-decoration: none;
}


/* menu */

.menu {
    font-size: 140%;
    letter-spacing: 3px;
    font-family: Fredoka, sans-serif;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.menu, #heading {
    line-height: 75px;
}

.menu li {
    
    list-style-type: none;
    color: 	#303030;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu, a:hover {
    border-bottom: 1px solid #303030;
}

.active {
    border-bottom: 1px solid #303030;
}

/* hero image */

#hero-container {
    min-height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    min-height: 600px;
    width: 100%;
    background: url("../images/hero-image-colourful-guitar.jpg") no-repeat center center;
}


/* main content */

#about-heading, #benefit-heading {
    background-color: #ff8c00;
}

.benefits p, .about p {
    color: #303030;
    font-size: 20px;
    font-family: Hubballi, sans-serif;
    text-align: center;
}


.about, .benefits {
    padding: 20px 20px;
    margin-bottom: 10px;
}


#benefits-h2, #about-h2 {
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #303030;
    text-align: center;
}

/* footer */


#footer { 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%; 
    background-color: #ff8c00;
    padding-top: 25px;
    padding-bottom: 25px;
}



#footer > div > h3 {
    font-size: 30px;
    color: #303030;
    text-align: center;
}

#footer > div > p {
    font-size: 20px;
    color: #303030;
    font-family: Hubballi, sans-serif;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: inherit;
}

#footer, a:hover {
    border-bottom: 1px solid ##303030;
}

h4 {
    text-align: center;
}

/* classes image */

.classes, .class-info {
    background: url(../images/classes-tapes.png) center center;
}

#signup-container {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.signup-form, .successful {
    background: linear-gradient(rgba(255, 255, 255, .78), rgba(255, 255, 255, .78)), url("../images/sign-up-tapes.png") repeat center center;
    
}

/* classes content */

.class-info h2 {
    font-size: 50px;
}

.class-info p {
    font-family: Hubballi, sans-serif;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
}

ul {
    font-family: Hubballi, sans-serif;
    font-size: 25px;
}

.class-info h3 {
    font-size: 25px;
    padding-bottom: 15px;
}

.class-info , .classes {
    text-align: center;
}

.classes p {
    padding-bottom: 15px;
    padding-top: 10px;

    font-size: 25px;
}

.classes h2 {
    color: #303030;
    background-color: #ff8c00;
    font-size: 40px;
}


.classes h3 {
    font-family: Hubballi, sans-serif;
    font-size: 38px;
    padding-bottom: 15px;
}

#songwriting p {
    font-family: Hubballi, sans-serif;
    font-size: 25px;
    padding-bottom: 15px;
}




/* signup form */

.signup-form {
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-section {
    padding: 15px;
    
}

.signup-form h2 {
    font-size: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #303030;
}

.signup-form h3 {
    color: #303030;
    font-size: 25px;
    text-align: center;
}

.signup-form p {
    color: #303030;
    font-size: 15px;
    padding-bottom: 10px;
}

fieldset {
    text-align: center;
}

legend {
    padding: 15px;
}
.text-input, .number-input {
    min-width:30%;
    border-style: groove;
    border-color: #ff8c00;
    border-radius: 2rem;

    font-family: Hubballi, sans-serif;
    font-size: 25px;
}



.join-button {
    min-width: 20%;
    border-style: groove;
    border-color: #ff8c00;
    background-color: #ff8c00;
    border-radius: 2rem;

    color: #303030;
    font-family: Fredoka , sans-serif;
    font-size: 50px;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 30px;

    padding: 15px;
}

.join-button:hover{background-color:#2F4F4F; color:#ff8c00;}

#fname, #lname, #email, #age {
    padding: 15px;  
}



/* sign up successful form */

.successful {
    min-height: 200px;
}
.successful h2 {
    font-size: 40px;
    text-align: center;

    padding-bottom: 15px;
    padding-top: 25px;
}

.successful p {
    font-size: 25px;
    font-family: Hubballi, sans-serif;
    text-align: center;
}

/* media queries */

/* hero image unreponsive at 1630px and up */

/* for screens 1630px and larger */

@media screen and (min-width: 1650px) {

    #hero-image {
        background: url("../images/hero-image-colourful-guitar.jpg") repeat center center;
    }


}

/*footer not responsive at 425px and lower - overflow on text & number inputs & join button*/

/* for screens 425px and lower */

@media screen and (max-width: 425px) {

    #footer {
        display: flex;
        flex-direction: column;
    }

    #footer > div > p {
        padding-bottom: 15px ;
    }

    .text-input, .number-input {
        width: 60%;
    }

    input::placeholder {
        font-size: 20px ;
        text-align: center;
    }

    
    .join-button {
        min-width: 33.3%;
        
    }

    #sub-heading {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}


