@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hubballi&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Fredoka, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

/* logo */

#logo-pic {
    float: left;
    margin-top: -40px;
    margin-bottom: -300px;
}

/* menu */

.menu {
    font-size: 140%;
    letter-spacing: 3px;
    line-height: 120px;
    padding-right: 15px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 15px;
    color: black;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu, a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-container {
    height: 750px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url("../images/hero-image-colourful-guitar.jpg") no-repeat center center;
    background-size: cover;
}

/* main body content */

#benefits h1 {
    font-size: 60px;
    text-align: center;
}
.about-us {
    border: none;
    margin: 1rem;
    text-align: center;
    display: flex;
  }
 
  .who, .why, .when, .where {
      border: 2px solid;
      border-radius: 25px;
      background-color: rgba(218, 165, 32, 0.521);

      height: 400px;
      width: 600px;
      padding: 10px;
      margin: 5px;
      
  }

  .about-us h2 {
      font-size: 35px;
  }

  .about-us p {
      font-size: 25px;
      font-family: Hubballi, sans-serif;
  }